# just a comment
https://*.g.doubleclick.net/pagead*
https://pagead*.googlesyndication.com*

# https://*google.com*
https://yastatic.net*
https://counter.yadro.ru*
https://mc.yandex.ru*
https://www.radiotunes.com/_papi/v1/radiotunes/performance_events*
http://tt.onthe.io*
https://tt.onthe.io*
http://*.mds.yandex.net*
http://*.directadvert.ru*

#youtube
https://www.youtube.com/get_midroll_inf*
https://www.youtube.com/api/stats/ads*
https://www.youtube.com/get_video_info?*el=adunit*
http*://manifest.googlevideo.com:443/
http*://manifest.googlevideo.com:443
https://www.youtube.com/pagead*
https://www.youtube.com/get_midroll_info*
https://www.youtube.com/youtubei/v1/log_event*
