# just a comment
https://*.g.doubleclick.net/pagead*
https://pagead*.googlesyndication.com*

# https://*google.com*

https://counter.yadro.ru*
https://mc.yandex.ru*
http://tt.onthe.io*
https://tt.onthe.io*
#https://www.radiotunes.com/_papi/v1/radiotunes/performance_events*
@^(http[s]{0,1}:\/\/){0,1}www\.radiotunes\.com(:443){0,1}\/_papi\/v1\/radiotunes\/performance_events.*
https://yastatic.net*
http://*.mds.yandex.net*
http://*.directadvert.ru*

#youtube
http*://manifest.googlevideo.com:443/
http*://manifest.googlevideo.com:443
http*://www.youtube.com/api/stats/ads*
http*://www.youtube.com/get_midroll_inf*
http*://www.youtube.com/get_video_info?*el=adunit*
http*://www.youtube.com/pagead*
http*://www.youtube.com/youtubei/v1/log_event*
http*://www.googleadservices.com/pagead*
http*://securepubads.g.doubleclick.net:443*
http*://www.google.com.*/ads/ga-audiences*
http*://www.google.com.*:*/ads/ga-audiences*

#SmartTV services
http*://pagead*.googlesyndication.com:443/
http*://pagead*.googlesyndication.com:443*

#############################################
# @ - is regular expression. Reg. ex. metachars: {}[]()^$.|*+?
#
# same wildcard by regular expression
# http*://pubads.g.doubleclick.net:443/
# http*://pubads.g.doubleclick.net:443
@^(http[s]{0,1}:\/\/){0,1}pubads\.g\.doubleclick\.net(:443){0,1}.*
#############################################

http*://securepubads.g.doubleclick.net:443/
http*://securepubads.g.doubleclick.net:443
